<p style="color: green"><%= notice %></p>

<%= render @question %>

<div>
  <%= link_to "Edit this question", edit_quizer_quiz_question_path(@quiz, @question) %> |
  <%= link_to "Back to questions", quizer_quiz_questions_path(@quiz) %>

  <%= button_to "Destroy this question", quizer_quiz_question_path(@quiz, @question), method: :delete %>
</div>
